@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-sm font-bold tracking-widest text-gray-500 
        transition-all border-opacity-0 hover:border-highlight/80 hover:text-highlight/80 hover:bg-bgmain_blue;
  }
  /* old bg slate-400 */
  .contactInput {
    @apply outline-none bg-slate-400/10 rounded-sm px-2 sm:px-6 short:px-4 py-2 sm:py-3 short:py-3 text-white/40
        placeholder-gray-500 transition-all focus:border-highlight/40 border-b-2
        focus:text-white/80;
  }
  .glossyBG {
    @apply bg-white bg-opacity-10 rounded shadow-md backdrop-filter backdrop-blur-md border border-opacity-20 border-white;
  }
  .debug {
    @apply border border-2;
  }
}
